@font-face {
    font-family: head;
    src: url('./fonts/sans-sulex.regular.ttf')format("woff2");
}



*{
  margin:0;
 padding:0;
 box-sizing:border-box;
 transition: all 0.1s linear cubic-bezier(0.075, 0.82, 0.165, 1);
}
html,body{

scroll-behavior: smooth;            
height:100%;
width:100%;
background-color: #5A4FCF;
background-image: linear-gradient(315deg, #5A4FCF 10%, #423d7b 74%);
}
.mobile{
    border-radius: 0px 0px 65px 63px;
-webkit-border-radius: 0px 0px 65px 63px;
-moz-border-radius: 0px 0px 65px 63px;
}
.hero{
    background-color: #5A4FCF;
background-image: linear-gradient(315deg, #5A4FCF 0%, #423d7b 74 74%);

}
.offer{
    background-color: #5A4FCF;
background-image: linear-gradient(315deg, #5A4FCF 0%, #423d7b 74%);

}

.nav{
    background-color: #5A4FCF;
background-image: linear-gradient(315deg, #5A4FCF 0%, #a697a6 74%);

}

.show{
    background-color: #5A4FCF;
    background-image: linear-gradient(315deg, #5A4FCF 0%, #13091b 74%);
}
.plan{
    background-color: #5A4FCF;
    background-image: linear-gradient(315deg, #5A4FCF 0%, #897ff2  74%);
}


.hero, .services, .offer {
    will-change: transform;
  }
  

  .cop {
    position: relative;
    transform-style: preserve-3d;
  }
  .cop::before {
    content: "";
    position: absolute; 
    inset: 0px;
    background: rgb(174,217,238);
background: radial-gradient(circle, rgba(174,217,238,1) 0%, rgba(122,106,214,1) 100%);
    transform: translate3d(0px,0px,-5px);
    pointer-events: none;
  }



  /* HTML: <div class="curved-edge"></div> */
footer{
    --c: 90px; /* control the curvature (works with percentage) */
    height: 15vh;
    width: 100%;
    aspect-ratio: 1;
    /* you can also update the 60%  */
    mask: radial-gradient(60% var(--c) at 50% var(--c),#0000 calc(100% - 2px),#000) 0 calc(-1*var(--c));
    background: #40C0CB;
  }

  .insta{ 
    background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }